$one : red;

#square {
    width: 100px;
    height: 100px;
    background-color: $one;
}

#circle {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $one;
}

h1 {
    color: $one;
}